

<div class="row">
  <% @teams.each do |tem| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://revista.pistaenjuego.com/wp-content/uploads/2012/10/varlion.jpg" alt="raqueta">
        <div class="caption">
          <h3><%= tem.name %></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, laudantium explicabo doloribus assumenda illum quisquam cumque vel omnis reiciendis, sapiente voluptatem, asperiores maxime, non modi pariatur debitis laboriosam cupiditate dolores.</p>
          <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>
      </div>
    </div>
  <% end %>
</div>