<ul>
<%counter=1%>
  <% @teams.each do |tem| %>
    <li class="list-unstyled">
      <button class="btn" %>
        <%=counter%>.- <%= tem.name %>
      </button>
    </li>
    <%counter=counter+1%>
  <% end %>
</ul>