<!-- Modal -->
<div class="modal fade" id="handicapModal" tabindex="-1" role="dialog" aria-labelledby="handicapModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="handicapModalLabel">HANDICAP VOTING</h4>
      </div>

      <div class="modal-handicap-body">
        
      </div>

      <div class="modal-footer">
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button id="submitHandicap" type="submit" class='btn btn-primary' data-judge="<%= current_user.id%>">Save changes</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="lost" tabindex="-1" role="dialog" aria-labelledby="lostLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lostLabel">HANDICAP VOTING</h4>
      </div>

      <div class="modal-body">
       <div class="panel-body">
        <span style="font-size: 6px;">
        Adaptación al padel del sistema de puntuación que utilizan en USA para catalogar a los tenistas. Ellos lo llaman NTRP (National Tennis Rating Program), programa nacional de evaluación tenística. La puntuación va del 1.0 al 7.0 y estas son las instrucciones para evaluarse:
        <span style="color: red"><span style="font-weight: bold"><a name="PADEL1.0"></a>1.0</span></span>
        <br>Acaba de empezar a jugar al padel

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL1.5"></a>1.5</span></span>
<br>Experiencia limitada. Sigue intentando mantener las pelotas en juego
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL2.0"></a>2.0</span></span>
<br><span style="font-weight: bold">DERECHA: </span>Gesto (swing) incompleto, falta de control direccional, velocidad de bola lenta.
<br><span style="font-weight: bold">REVES:</span> Evita el reves, golpeo errático, problemas de empuñadura, gesto incompleto
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> Gesto incompleto, habitualmente comete dobles faltas, bote de la bola inconsistente, resto con muchos problemas
<br><span style="font-weight: bold">VOLEA:</span> Evita subir a la red, evita la volea de reves, mal posicionamiento de pies
<br><span style="font-weight: bold">REBOTES:</span> No consigue devolver ningún rebote.
<br><span style="font-weight: bold">ESTILO DE JUEGO: </span>Familiar con las posiciones básicas, aunque se posciona frecuentemente de manera incorrecta
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL2.5"></a>2.5</span></span>
<br><span style="font-weight: bold">DERECHA:</span> En desarrollo, velocidad de bola moderada.
<br><span style="font-weight: bold">REVES:</span> Problemas en preparacion y empuñadura, a menudo prefiere el golpeo de derecha al de reves
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> Intento de realizar el gesto completo, velocidad de bola en servicio lenta, bote de bola inconsistente, devuelve servicios lentos.
<br><span style="font-weight: bold">VOLEA: </span>Incomodo en la red especialmente en el reves, utiliza frecuentemente la cara del drive en las voleas de reves.
<br><span style="font-weight: bold">REBOTES:</span> Se intenta poscionar para los rebotes aunque solo golpea la bola de forma ocasional
<br><span style="font-weight: bold">GOLPES ESPECIALES:</span> Hace globos intencionados pero con poco control, empala la bola ocasionalmente en golpes altos (smash)
<br><span style="font-weight: bold">ESTILO DE JUEGO:</span> Puede pelotear con una velocidad de bola lenta, debil cobertura de su espacio en la pista, permanece en la posicion inicial del juego.
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL3.0"></a>3.0</span></span>
<br><span style="font-weight: bold">DERECHA:</span> Relativamente buena consistencia y moderada variedad de golpes, buen control direccional, desarrollando gama de golpes (cortado, plano, liftado)
<br><span style="font-weight: bold">REVES:</span> Preparado frecuentemente para golpear con relativa consistencia.
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> Desarrollando el gesto de servicio, poca consistencia cuando intenta golpear con potencia, segundo servicio es considerablemente peor que el primero. Resta con relativa consistencia.
<br><span style="font-weight: bold">VOLEA:</span> Volea de derecha de forma consistente, inconsistente en la volea de reves, problemas con las bolas a los pies y en golpes abiertos.
<br><span style="font-weight: bold">REBOTES: </span>Se posiciona correctamente en golpes lentos, consigue empalar. No se desplaza hacia delante en bolas fuertes.
<br><span style="font-weight: bold">GOLPES ESPECIALES:</span> Hace globos de forma moderadamente consistente.
<br><span style="font-weight: bold">ESTILO DE JUEGO: </span>Consistente con velocidad de bola media, poca consistencia en posicionamiento con el compañero, a veces uno arriba y otro abajo, sube a la red cuando lo dicta el juego pero es debil en la ejecucion.
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL3.25"></a>3.25</span></span>
<br><span style="font-weight: bold">Entre 3.0 y 3.5</span> 
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL3.5"></a>3.5</span></span>
<br><span style="font-weight: bold">DERECHA:</span> Buena consistencia y moderada variedad de golpes, buen control direccional, desarrollando gama de golpes (cortado, plano, liftado).
<br><span style="font-weight: bold">REVES: </span>Golpeo con control direccional en algunos golpes, dificultad de devolución en bolas fuertes o altas, dificultad en la defensa de revÚs.
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> COmienza a servir con control y algo de potencia, desarrollando el saque cortado, puede restar consistentemente con control direccional con velocidad de bola moderada.
<br><span style="font-weight: bold">VOLEA:</span> Mas agresivo en el juego de red, alguna habilidad en los golpes laterales, bastante buen posicionamiento de pies, tiene control direccional en las voleas de derecha, control en las voleas de reves, pero con muy bajo poder ofensivo.
<br><span style="font-weight: bold">REBOTES:</span> Se posiciona correctamente en golpes de derecha. Consigue defender de manera consistente de derecha y velocidad de bola moderada. Defiende de reves con dificultad las bolas rápidas. Desarrollando la bajadas de pared
<br><span style="font-weight: bold">GOLPES ESPECIALES:</span> consistente en golpes altos, desarrollando bandeja, segundas voleas y golpes de aproximacion. Devuelve la mayor parte de los segundos servicios.
<br><span style="font-weight: bold">ESTILO DE JUEGO:</span> Consistencia y control direccional con velocidades de bola media, posicionamiento con el compañero medianamente consistente (desarrollando el trabajo en equipo), busca la oportunidad de ganar la red.
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL3.75"></a>3.75</span></span>
<br><span style="font-weight: bold">Entre 3.5 y 4.0</span> 
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL4.0"></a>4.0</span></span>
<br><span style="font-weight: bold">DERECHA:</span> Fiable, golpea con bastante control, intenta golpear con control en golpes defensivos difíciles.
<br><span style="font-weight: bold">REVES:</span> Puede direccionar la bola con consistencia y velocidades de bola moderadas, desarrollando variedad de golpes.
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> Coloca primeros y segundos, potencia y colocación frecuente con el primero, usa bolas cortadas en el servicio, fiable en el resto, resta con profundidad y control. 
<br><span style="font-weight: bold">VOLEA:</span> Profundidad y control en la volea de derecha, direcciona la volea de reves, pero con falta de profundidad y agresividad. Desarrollando las voleas bajas.
<br><span style="font-weight: bold">REBOTES: </span>DEvuelve consistentemente los rebotes de derecha, se posiciona correctamente en los rebotes de reves. Bajada de pared consistente y con potencia con la derecha, al reves suele jugar globos.
<br><span style="font-weight: bold">GOLPES ESPECIALES:</span> Golpea por alto con consistencia, consigue volear a golpes agresivos, comienza a definir puntos con la volea y el smash, busca y dirige la volea a la zona debil de los rivales, defiende con globos de forma consistente. Comienza a desarrollar la bandeja. 
<br><span style="font-weight: bold">ESTILO DE JUEGO:</span> Golpeo fiable y con control con velocidades de bola medio-alta. Juego en equipo, pÚrdida del punto en peloteos por falta de paciencia.<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL3.75"></a>4.25</span></span>
<br><span style="font-weight: bold">Entre 4.0 y 4.5</span> 
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL4.5"></a>4.5</span></span>
<br><span style="font-weight: bold">DERECHA: </span>Muy fiable, usa velocidad, control y variedad de golpes con profundidad. Ofensivo en la mayoría de golpes.
<br><span style="font-weight: bold">REVES:</span> Puede controlar dirección y profundidad pero sufre defendiendo golpes difíciles, puede golpear con relativa potencia.
<br><span style="font-weight: bold">SERVICIO/RESTO: </span>Servicio con colocación y control, con pocas doble faltas, usa potencia y bolas cortadas, segundos con buena profundidad y colocación, restos agresivos y con control.
<br><span style="font-weight: bold">VOLEA: </span>Buen posicionamiento de pies, puede controlar peloteos en las voleas, tiene potencia, control y profundidad en las voleas de derechas, errores mas comunes cuando golpea con potencia.
<br><span style="font-weight: bold">REBOTES: </span>Buena bajada de pared de derecha, de reves consigue profundidad y colocación con velocidad de bola media.
<br><span style="font-weight: bold">GOLPES ESPECIALES: </span>Golpes de aproximación con control y profundidad, consistencia en voleas y golpes altos. Consigue remates definitivos, llega a sacar la bola por 4 en algunas ocasiones, consigue en ocasiones dejadas de volea.
<br><span style="font-weight: bold">ESTILO DE JUEGO: </span>Golpeo con relativa potencia, buena cobertura en la pista, empieza a variar el juego en función del oponente, juego agresivo en la red, buena anticipación.
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL5.0"></a>5.0</span></span>
<br><span style="font-weight: bold">DERECHA:</span> Golpeo fuerte con control, profundidad y variedad de golpes, usa la derechas para preparar la subida a la red. Consistente en los globos profundos.
<br><span style="font-weight: bold">REVES:</span> Puede usar el reves en golpes agresivos con bastante buena consistencia, buen control en dirección y profundidad en la mayoría de los golpes, Bastante consistente en globos profundos y defensa.
<br><span style="font-weight: bold">SERVICIO/RESTO:</span> Coloca el servicio con efectividad y buscando el punto dÚbil del rival y ganar la red de forma rápida, buena variedad de servicios, profundidad, colocación en segundos para forzar restos poco potentes, resta con control servicios difíciles.
<br><span style="font-weight: bold">VOLEA: </span>Puede golpear a la mayoría de las voleas con profundidad y potencia, juega voleas difíciles con profundidad, buscando el punto debil del rival.
<br><span style="font-weight: bold">REBOTES: </span>Buena defensa de rebotes, incluso con bolas fuertes. Consigue puntos ganadores con rebotes fuertes de pared. BAjadas de pared buenas tanto de derecha como de reves.
<br><span style="font-weight: bold">GOLPES ESPECIALES: </span>Golpea con fuerza y alto grado de efectividad, buenos globos defensivos y ofensivos, golpea por alto en cualquier posición de la pista con control, juega bandejas con consistencia, consigue golpes ganadores con smash fuerte. Consigue sacar la bola por 3 en ocasiones.
<br><span style="font-weight: bold">ESTILO DE JUEGO:</span> Varia el juego segun el rival, solido trabajo en equipo, consigue leer el partido y encuentra el punto debil del rival, es menos consistente mental y físicamente que el jugador 5.5
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL5.5"></a>5.5</span></span>
<br>Juega golpes fiables en situaciones comprometidas, ha desarrollado una buena anticipación, lee el partido con facilidad buscando los puntos dÚbiles de los rivales, primeros y segundos servicios son golpes profundos y colocados, ha desarrollado fuerza y consistencia como su mayor arma, varia la estrategia y el estilo de juego en una situaciones comprometidas.
<br>

<br><span style="color: red"><span style="font-weight: bold"><a name="PADEL6.0"></a>6.0 a 7.0</span></span>
<br>Estos jugadores no necesitan categorias. Aparecen en rankings de campeonatos, el 6.0 tiene entrenamientos intensivos para torneos regionales y nacionales, y tiene ranking nacional. El jugador 6.5 tiene potencial para llegar a ser jugador 7.0 juega torneos nacionales de forma continuada. El jugador 7.0 es el jugador profesional de padel, compite en torneos open y su mayor fuente de ingresos son los premios de los torneos y sponsors.

 </div>
      </div>

      <div class="modal-footer">
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button id="submitHandicap" type="submit" class='btn btn-primary'>Save changes</button>
      </div>
    </div>
  </div>
</div>
