
<div class="modal fade" id="handicapModal" tabindex="-1" role="dialog" aria-labelledby="handicapModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="handicapModalLabel">HANDICAP VOTING</h4>
      </div>

      <div class="modal-handicap-body">
        
      </div>

      <div class="modal-footer">
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button id="submitHandicap" type="submit" class='btn btn-primary' data-judge="<%= current_user.id%>">Save changes</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="lost" tabindex="-1" role="dialog" aria-labelledby="lostLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lostLabel">HANDICAP VOTING</h4>
      </div>

      <div class="modal-body">
       <div class="panel-body">
        <span>
          Adaptación al padel del sistema de puntuación que utilizan en USA para catalogar a los tenistas. Ellos lo llaman NTRP (National Tennis Rating Program), programa nacional de evaluación tenística. La puntuación va del 1.0 al 7.0 y estas son las instrucciones para evaluarse...
        </span>
      </div>
      </div>

      <div class="modal-footer">
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
        <button id="submitHandicap" type="submit" class='btn btn-primary'>Save changes</button>
      </div>
    </div>
  </div>
</div>
