<div class="row">
  <% @matches.each do |mat| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="http://clubparayas.es/wp-content/uploads/2013/11/pista-padel-raquetas-2.jpg">
        <div class="caption">
          <h3><%= mat.date %></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, laudantium explicabo doloribus assumenda illum quisquam cumque vel omnis reiciendis, sapiente voluptatem, asperiores maxime, non modi pariatur debitis laboriosam cupiditate dolores.</p>
          <p>
          <a href="<%= match_path(mat.id) %>" class="btn btn-primary" role="button">DETAILS</a>
          <a href="<%= match_path(mat.id) %>" class="btn btn-primary" role="button">JOIN!</a>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>