// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#score-img{
  float: right;
  height: 200px;
  border-radius: 7px;
}

.score-sets{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.set input{
  border: 1px solid green;
  font-size: 1.8em;
}

.match{
  padding: 30px;
}


#map {
  height: 83vh;
  width: 100%;
  border-radius: 20px;
}

.localteam{
  border: 3px solid red;
  padding: 5px;
}


/*USER PROFILE*/
.my-matches{
  font-size: 0.8em;
}

.my-match{
  
}

.my-button{
  /*height: 28px;*/
}

.my-handicap-votes{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

.voted{
  border-radius: 15px;
  background-color: orange;
  padding: 10px;
}

.player-voted{
  /*font-size: 20px;*/
  background-color: #DDD;
}