@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

h1, h2, h3, h4, h5, h6, p{
  font-family: 'Open Sans', sans-serif;
}

th, td{
  text-align: center;
}


/* NAVIGATION*/
 .be-icon{
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 36px;
  width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  color: white;
  vertical-align: middle;
}


.sporteur-form-control{
  border:none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 1.2em;
}

.logo{ /*teams & users index*/
  width: 200px;
}


.title{
  font-size: 20px;
}