@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Economica:400,700);


h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
  margin-bottom: 0px;
}


p, .pagination, .previous_page{
  font-family: 'Open Sans', sans-serif !important;
  /*font-family: 'Comic Sans', sans-serif !important;*/
  
}

th, td{
  text-align: center;
}


.be-icon{
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
}

.rankins-title{
  font-size: 2em;
}

/* NAVIGATION*/
 .be-menu-icon{
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 36px;
  width: 36px;
  height: 36px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  color: white;
  vertical-align: middle;
}

.navbar-brand{
  font-family: 'Economica', sans-serif;
  font-size: 3.8em;
}

.sporteur-form-control{
  border:none;
  border-bottom: 1px solid;
  outline: none;
  width: 100%;
  display: block;
  padding: 5px;
  font-size: 1.2em;
}

.logo{ /*teams & users index*/
  width: 200px;
}

.sporteur-carousel{
  top:-15px;
}