// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*USER PROFILE*/
.profile{
  background-color: orange;
  padding: 20px;
  border-radius: 15px;
  font-size: 20px;
  text-align: left;
}

.profile-avatar{
  border-radius: 20px;
}

.profile-avatar-index{
  border-radius: 20px;
  width: 100px;
  height: 100px;
}

.profile-container{
  padding: 20px;
}

.user-index{
  text-align: center;
}

.profile-statistics{
  background-color: #FC4;
}